<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- database -->
  <context:property-placeholder location="classpath:jdbc.properties" />

  <!-- 配置数据源 -->
  <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    <property name="driverClass" value="${jdbc.driverClass}" />
    <property name="jdbcUrl" value="${jdbc.url}" />
    <property name="user" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
   
    <property name="initialPoolSize" value="3" />
    <property name="maxPoolSize" value="100" />
    <property name="minPoolSize" value="3" />
    <property name="numHelperThreads" value="3" />
    <property name="acquireIncrement" value="1" />
    <property name="checkoutTimeout" value="300" />
    <property name="idleConnectionTestPeriod" value="300" />
    <property name="preferredTestQuery" value="select 1" />
    <property name="acquireRetryAttempts" value="5" />
    <property name="acquireRetryDelay" value="30" />
    <property name="unreturnedConnectionTimeout" value="300" />
  </bean>

  <!-- myBatis文件 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="mapperLocations" value="classpath:mapper/*.xml" />
    <property name="configLocation" value="classpath:spring/mybatis-config.xml" />
  </bean>

  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="org.cloud.ssm.mapper" />
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
  </bean>

  <!-- 配置事务管理器 -->
  <bean id="transactionManager"
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>
  <!-- 拦截器方式配置事物 -->
  <tx:advice id="transactionAdvice"
    transaction-manager="transactionManager">
    <tx:attributes>
      <tx:method name="add*" propagation="REQUIRED" />
      <tx:method name="save*" propagation="REQUIRED" />
      <tx:method name="update*" propagation="REQUIRED" />
      <tx:method name="edit*" propagation="REQUIRED" />
      <tx:method name="delete*" propagation="REQUIRED" />
      <tx:method name="del*" propagation="REQUIRED" />
      <tx:method name="remove*" propagation="REQUIRED" />

      <tx:method name="get*" propagation="SUPPORTS" />
      <tx:method name="list*" propagation="SUPPORTS" />
      <tx:method name="page*" propagation="SUPPORTS" />
      <tx:method name="count*" propagation="SUPPORTS" />
      <tx:method name="*" propagation="SUPPORTS" />
    </tx:attributes>
  </tx:advice>
  <aop:config>
    <aop:pointcut id="transactionPointcut"
      expression="execution(* org.cloud.ssm.service.impl.*.*(..))" />
    <aop:advisor pointcut-ref="transactionPointcut"
      advice-ref="transactionAdvice" />
  </aop:config>
</beans>