<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>系统日志</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/webjars/layui/2.4.5/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/animate.min.css}">
</head>

<body class="animated fadeIn">

    <div class="page-loading">
        <div class="rubik-loader"></div>
    </div>

    <div class="z-body animated fadeIn">
        <table class="layui-hide" id="login-log-table"></table>
    </div>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/layui/2.4.5/layui.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>

    <script>
        layui.use(['table'], function () {
          	var table = layui.table;
          	var $ = layui.$;
    
          	table.render({
              	elem: '#login-log-table'
              	, url: '/api/syslog/list'
              	, page: true
              	, limits: [10,20,50]
              	, cols: [
                	[
                      	{field: 'username', title: '用户名', width: "8%"}
                      	, {field: 'operation', title: '描述', width: "8%"}
                      	, {field: 'time', title: '耗时(毫秒)', width: "8%"}
                      	, {field: 'method', title: '请求方法', width: "25%"}
                      	, {field: 'params', title: '请求参数'}
                      	, {field: 'ip', title: 'IP', width: "10%"}
                      	, {field: 'createTime', title: '操作时间', templet: function(d) { return dateFormat("yyyy-MM-dd hh:mm:ss", new Date(d.createTime))}, width: "15%"}
                  	]
              	]
          	});
      	});
    </script>
</body>
</html>