<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.cloud.ssm.mapper.EmployeeMapper">

  <resultMap type="Employee" id="employeeMap">
    <id column="id" property="id"></id>
    <result column="name" property="name" />
    <result column="address" property="address" />
    <result column="age" property="age" />
  </resultMap>

  <select id="listEmployee" resultMap="employeeMap">
    SELECT *
    FROM `t_employee`
  </select>

  <delete id="deleteEmployee" parameterType="long">
    DELETE FROM
    `t_employee` WHERE `t_employee`.id=#{id}
  </delete>

  <insert id="addEmployee" useGeneratedKeys="true" keyProperty="id" parameterType="Employee">
    INSERT INTO `t_employee` (id,name,address,age)
    VALUES (NULL,#{name},#{address},#{age})
  </insert>

</mapper>