<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.cloud.system.mapper.EmpMapper">

  <resultMap type="Emp" id="empMap">
    <id property="id" column="id" ></id>
    <result property="userId" column="userid" />
    <result property="username" column="username" />
    <result property="password" column="password" />
    <result property="tel" column="tel" />
    <result property="email" column="email" />
    <result property="status" column="status" />
    <association property="department" column="department" javaType="Dept">
      <id property="id" column="dept_id" ></id>
      <result property="title" column="title"  />
      <result property="description" column="description"  />
    </association>
  </resultMap>
  
  <sql id="selectColumns">
    A.id,
    A.userid,
    A.username,
    A.password,
    A.department,
    A.tel,
    A.email,
    A.status, 
    B.id AS dept_id,
    B.title,
    B.description
  </sql>

  <select id="selectAll" resultMap="empMap">
    SELECT
    <include refid="selectColumns"/>
    FROM `t_emp` A
    LEFT OUTER JOIN `t_dept` B ON A.department=B.id
    ORDER BY A.id
  </select>
  
  <select id="selectCount" resultType="long">
    SELECT count(*)
    FROM `t_emp`
  </select>
  
  <select id="selectByPrimaryKey" parameterType="long" resultMap="empMap">
    SELECT
    <include refid="selectColumns"/>
    FROM `t_emp` A
    LEFT OUTER JOIN `t_dept` B ON A.department=B.id
    WHERE A.id=#{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="long">
    DELETE FROM
    `t_emp` 
    WHERE `t_emp`.id=#{id}
  </delete>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Emp">
    INSERT INTO `t_emp` (id,userid,username,password,department,tel,email,status)
    VALUES (NULL,#{userId},#{username},#{password},#{department.id},#{tel},#{email},#{status})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="Emp">
    UPDATE `t_emp`
    <set>
        <if test="userId != null">
            userid=#{userId},
        </if>
        username=#{username},
        <if test="password != null">
            password = #{password,jdbcType=VARCHAR},
        </if>
        department=#{department.id},
        tel=#{tel},
        email=#{email},
        status=#{status}
    </set>
    WHERE id=#{id}
  </update>
  
  <update id="updateStatusByPrimaryKey">
    UPDATE `t_emp`
    <set>
      status=#{status}
    </set>
    WHERE id=#{id}
  </update>

</mapper>